Sign the Authorization Form
<html>
  Thank you for enrolling in the Consumer Reports Authorized Agent study. Please click the link below and sign a document which authorizes CR to send data requests to companies for you.
  <br><br>
  <a href="https://na3.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=9949f120-cacd-4e4e-9f3b-e821a3154b15&env=na3&acct=d47c9537-e206-46a0-9d82-f3df2e7ab79f&v=2">Authorization Form</a>
</html>
