Sign the Authorization Letter
<html>
  Thanks for confirming your name and phone number! We’re thrilled that you are willing to help Consumer Reports with this research, which we believe will contribute to improving data privacy for all Americans.
  <br><br>
  The next step to enroll is to sign a document that authorizes Consumer Reports to act as your authorized agent. To sign the document, click the link below. You will be able to download a copy for your records after signing:
  <br><br>
  <a href="https://na3.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=220e5e55-158b-4fa4-acef-d633e8d7236e&env=na3&acct=d47c9537-e206-46a0-9d82-f3df2e7ab79f&v=2">Sign authorization letter</a>
  <br><br>
  Under the CCPA, companies will likely attempt to contact you after you sign this to verify your identity and to provide specific confirmation that you have designated Consumer Reports as your official Authorized Agent to make data access requests for you. There may even be cases where we ask you to reach out to the company before we can submit a request on your behalf.
  <br><br>
  In parallel, we will be testing a more powerful authorization method which requires signing a Power of Attorney with two adult witnesses present. This method is intended by the CCPA to exempt you from repetitive identity verification and confirmation of our authority to act on your behalf. If you would like to be part of this test, email us at datarightsstudy@cr.org and we’ll send along a different document for you and your witnesses’ review.
  <br><br>
  You can always contact us at datarightsstudy@cr.org if you have any questions about the authorization process or what it means for your data rights. Thank you again for your help advancing digital rights and consumer protection!
</html>
