CCPA Authorized Agent Member ({{firstName}} {{lastName}}) Has Revoked Authorization
<html>
  The following member has revoked CCPA Authorized Agent authorization:
  <br><br>
  {{firstName}} {{lastName}}
</html>
