{{>common-top}}

<div class="column">
	<h1>Member status</h1>

	<ul>
		<li>E-mail: {{#verified.email}}Verified{{/verified.email}}{{^verified.email}}Unverified{{/verified.email}}</li>
	</ul>
</div>

{{>common-bottom}}
