Confirm your email & phone number with Consumer Reports
<html>
  Hello,
  <br><br>
  Thanks for volunteering for Consumer Reports’ authorized agent study! We think this study could play a role in improving the data privacy rights of all Americans and appreciate your participation.
  <br><br>
  There are a few more steps to sign up: you need to confirm your email and phone number, then sign to make Consumer Reports your authorized agent.
  <br><br>
  To confirm your email, click <a href="{{url}}">{{url}}</a>
  <br><br>
  Clicking the email confirmation link triggers a code to be sent to your mobile phone via SMS. Enter this code in your web browser to verify your cell phone number.
  <br><br>
  Once your email and phone number are confirmed, you will move onto the next step: signing an authorization letter that gives Consumer Reports permission to act as your authorized agent. This document will be available in your email after you confirm your phone number.
  <br><br>
  Thank you for doing your part to ensure stronger data rights in California! We’re thrilled to have you as part of our pilot.
  <br><br>
  Best,<br>
  Ginny and the CR Digital Lab team<br>
  datarightsstudy@cr.org
  <br><br>
<a href="https://www.consumerreports.org/cro/sms/sms-text-notification-privacy-policy.htm">SMS Privacy Policy</a>
</html>
