Confirm your email & phone number with Consumer Reports
<html>
  Hello,
  <br><br>
  Thank you for your interest in the authorized agent pilot. Once you've confirmed your email and phone number, you can sign to make Consumer Reports your authorized agent.
  <br><br>
  To confirm your email, click <a href="{{url}}">{{url}}</a>
  <br><br>
  To confirm your phone number, you will receive a code via SMS that you can enter in your web browser.
  <br><br>
  Once your email and phone are confirmed, you will move onto the final step: signing a Power of Attorney on DocuSign that gives Consumer Reports permission to act as your authorized agent.
  <br><br>
  Thank you for doing your part to ensure stronger data rights in California! We're thrilled to have you as part of our pilot.
  <br><br>
  Best,<br>
  Ginny and the CR Digital Lab team<br>
  datarightsstudy@cr.org
  <br><br>
<a href="https://www.consumerreports.org/cro/sms/sms-text-notification-privacy-policy.htm">Privacy Policy</a>
</html>
