{{>common-top}}

<div class="column">
	<h1>Administrator Sign-in</h1>

	<form class="sign-in" method="POST" action="/admin/sign-in">
		<label for="password">Password</label>
		<input id="password" type="password" name="password">

		<div class="controls">
			<input type="submit" value="Sign in">
		</div>
	</form>
</div>

{{>common-bottom}}
