html {
	box-sizing: border-box;
	font-family: sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	position: relative;

	border-bottom: solid 1px #333;
	margin-bottom: 3em;
	padding: 0.4em 1em;
}
header img {
	width: 155px;
}
header .admin {
	color: #ccc;
	float: right;
	font-size: 0.8em;
}

main {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
}

.column {
	width: 50%;
	float: left;
}
.column:nth-child(2n+1) {
	padding-right: 1em;
}

.sign-up {
	position: relative;
}

.sign-up input, .sign-in input {
	border: solid 2px #aaa;
	border-radius: 0.2em;
}

.contact {
	display: inline-block;
	width: 100%;
	margin-top: 0.5em;
}
.contact label,
.sign-in label {
	color: #777;
	margin-bottom: 0.2em;
	display: block;
	font-size: 0.9em;
}
.contact input,
.sign-in input {
	padding: 1em;
	width: 100%;
}

.contact.first-name, .contact.email {
	width: 49%;
	margin-right: 2%;
}
.contact.last-name, .contact.phone {
	width: 49%;
}
.contact.address-street {
	width: 100%;
}
.contact.address-city {
	width: 49%;
	margin-right: 2%;
}
.contact.address-state {
	width: 10%;
	margin-right: 2%;
}
.contact.address-zipcode {
	width: 37%
}

.consent {
	display: block;
}
.consent-text {
	margin-top: 1em;
}
.consent-agent {
	margin-top: 1em;
}
.consent-response {
	margin-top: 1em;
}
.consent-email {
	margin-top: 1em;
}
.consent-policies {
	margin-top: 1em;
}
.controls {
	text-align: right;
}
.status-page .controls {
	text-align: left;
}

.sign-in .controls, .verify .controls {
	margin-top: 1em;
}

.controls input[type="submit"] {
	border-width: 0;
	padding: 1em 2em;

	background-color: #00AE4D;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.members {
	width: 100%;

	border-collapse: collapse;
}

.members th, .members td {
	padding-left: 0.5em;
	padding-right: 0.5em;

	border-color: #cacaca;
	border-style: solid;
}

.members th {
	border-width: 1px 1px 2px 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	background-color: #eee;
	font-weight: normal;
	text-align: left;
}

.members td {
	border-width: 1px;
}

.members .cr-id {
	width: 4em;
}

@media screen and (max-width: 800px) {
	.column {
		width: 100%;
	}

	.contact.contact {
		width: 100%;
	}

	.members {
		table-layout: fixed;
	}

	.members td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.members td:active {
		overflow: visible;
	}
}
