<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<title>Join our California Authorized Agent Study!</title>
	</head>
	<body>
		<header>
			<a href="/">
				<img src="/consumer-reports.svg" alt="The Consumer Reports logo">
			</a>

			<a href="/admin" class="admin">Admin</a>
		</header>
		<main>
