{{>common-top}}

{{#success}}
<div id="success">
    <h2>Thanks for signing up!</h2>
    <p>By joining this study, you are doing your part to help advance data rights for all consumers. We’re so grateful for your help.</p>
    <p>There are two more steps to take to complete your enrollment:</p>
    <ol>
        <li>Check your email to confirm your email address and mobile phone number.</li>
        <ul>
            <li>An email titled <b>Confirm your email & phone with Consumer Reports</b> should be in your inbox. Open the email and click the confirmation link.</li>
            <li>When you click the email confirmation link, a text message with a confirmation code will be sent to your mobile phone. You can enter your unique code on the web confirmation screen.</li>
        </ul>
        <br>
        <li>Check your inbox for an email titled <b>Sign the Authorization Form</b>, which links to an authorization you can sign to give Consumer Reports permission to make data requests for you.</li>
    </ol>
    <p>After confirming your email and phone and signing the authorization form, your onboarding is complete! You will receive an email confirming that you have successfully enrolled in the study.</p>
    <p> If you have any trouble with this process, let us know at datarightsstudy@cr.org.</p>
</div>
{{/success}}
{{^success}}
<div class="column">
    <h1>Volunteer to test the Authorized Agent feature of California's new privacy law</h1>

    <p>The California Consumer Privacy Act (CCPA) gives you, as a California consumer, the right to access the personal information companies have about you.</p>

    <p><b>Best of all, the CCPA lets you designate an “authorized agent” to contact companies about your data for you!</b></p>

    <p>This Consumer Reports research study is designed to test how we might relieve you of some of the burden of making data requests by sending requests to companies for you. Just provide us with your contact information and give us your permission, then we'll get started.</p>

    <h2>How it works</h2>

    <ol>
        <li>Sign up here with your legal name, California address, email address, and mobile phone number. Unfortunately we cannot accommodate landline phones at this time.</li>
        <br>
        <li>Sign an authorization form giving Consumer Reports permission to act as your authorized agent.</li>
        <br>
        <li>Within 24 hours you’ll receive an email from us confirming your enrollment. The email will let you indicate which companies from our list are likely to have your information.</li>
        <br>
        <li>We'll send data requests to some of the participating companies requesting that they give you access to your data. Some companies may contact you directly to further specify which categories or types of data you wish to cover in the data access request.</li>
        <br>
        <li>We'll keep you updated on our progress and what we're learning about the data economy via regular emails.</li>
    </ol>
</div>
<div class="column">
    <h2>Sign up to Volunteer</h2>

    <form class="sign-up" method="POST" action="/member/sign-up">
        <div class="contact first-name">
            <label for="first-name">Legal First Name</label>
            <input id="first-name" type="text" name="first-name" placeholder="First Name" required="true">
        </div><!--

        --><div class="contact last-name">
            <label for="last-name">Legal Last Name</label>
            <input id="last-name" type="text" name="last-name" placeholder="Last Name" required="true">
        </div><!--

        --><div class="contact address-street">
            <label for="address-street">California Street Address</label>
            <input id="address-street" type="text" name="address-street" placeholder="California Street Address" required="true">
        </div><!--

        --><div class="contact address-city">
            <label for="address-city">City</label>
            <input id="address-city" type="text" name="address-city" placeholder="City" required="true">
        </div><!--

        --><div class="contact address-state">
            <label for="address-state">State</label>
            <input id="address-state" type="text" value="CA" required="true">
        </div><!--

        --><div class="contact address-zipcode">
            <label for="address-zipcode">Zip Code</label>
            <input id="address-zipcode" type="text" name="address-zipcode" placeholder="Zip Code" required="true">
        </div><!--

        --><div class="contact email">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="Email" required="true">
        </div><!--

        --><div class="contact phone">
            <label for="phone">Mobile Phone Number</label>
            <input id="phone" type="text" name="phone" placeholder="Mobile Phone Number" required="true">
        </div>

        <div class="consent consent-text">
            <p><b>To enroll in the study, please consent to the following:</b></p>
            <input type="checkbox" id="consent-text" required="true">
            <label for="consent-text">I agree to receive an automated text message to my mobile device as part of this program.  Message & data rates may apply and I can text STOP to cancel or HELP for help. I agree to the terms of the Consumer Reports <a href="https://volunteer.consumerreports.org/sms_text_notification_terms">SMS/Text Notification Terms</a> and <a href="https://www.consumerreports.org/cro/sms/sms-text-notification-privacy-policy.htm">Privacy Policy</a>.</label>
        </div>

        <div class="consent consent-agent">
            <input type="checkbox" id="consent-agent" required="true">
            <label for="consent-agent">I agree to have Consumer Reports include what happens with requests submitted on my behalf in consumer protection research. I further agree that Consumer Reports can share how companies respond to my data requests with the general public. Personally-identifiable information about me will remain private.</label>
        </div>

        <div class="consent consent-policies">
            <input type="checkbox" id="consent-policies" required="true">
            <label for="consent-policies">I agree to the terms of Consumer Reports <a href="https://www.consumerreports.org/cro/customerservice/privacy-policy/highlights/index.htm"> Privacy Policy</a> and <a href="https://www.consumerreports.org/cro/2015/01/user-agreement/index.htm">User Agreement</a>.</label>
        </div>

        <p>Thank you for your consent!</p>

        <div class="controls">
            <input id="volunteer" type="submit" value="Volunteer">
        </div>
    </form>
</div>
{{/success}}

{{>common-bottom}}
