{{>common-top}}

{{#success}}
<div id="success">
    <h2>Thanks for signing up! You have a few more steps to enroll</h2>
    <ol>
        <li>Email: A confirmation email from us should be in your inbox. Open the email and click the confirmation link.</li>
        <li>Mobile Phone Number: A text message with a confirmation code will be sent once you have confirmed your email address.</li>
        <li>If you don't receive a confirmation email or text within 10 minutes, let us know at datarights@cr.org.</li>
        <li>Check your email and use DocuSign to sign a document authorizing Consumer Reports to make data requests for you.</li>
    </ol>
    <p>Your onboarding is complete!</p>
</div>
{{/success}}
{{^success}}
<div class="column">
    <h1>Volunteer to test the Authorized Agent feature of California's new privacy law!</h1>

    <p>The California Consumer Privacy Act (CCPA) gives you, as a California consumer, the right to access the personal information companies have about you. Best of all, you don't have to go one-by-one to all of the companies that have your personal information. The CCPA lets you designate an "authorized agent" to contact companies about your data for you.</p>

    <p>This Consumer Reports experiment is designed to test how we might relieve consumers of the onerous data request process by sending data requests to corporations for you. Just provide us with your contact information and give us permission. We'll do the rest.</p>

    <h2>How it works</h2>

    <ol>
        <li>Sign up here with your legal name, California address, email address, and mobile phone number. Unfortunately we cannot accommodate landline phones at this time.</li>
        <li>Sign a document giving Consumer Reports permission to act as your authorized agent.</li>
        <li>Consumer Reports will send data requests to participating companies requesting that companies give you access to the personal information they have about you.</li>
        <li>We'll keep you updated on our progress and what we're learning about the data economy via regular emails.</li>
    </ol>
</div>
<div class="column">
    <h2>Sign up to Volunteer</h2>

    <form class="sign-up" method="POST" action="/member/sign-up">
        <div class="contact first-name">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" name="first-name" placeholder="First Name" required="true">
        </div><!--

        --><div class="contact last-name">
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" name="last-name" placeholder="Last Name" required="true">
        </div><!--

        --><div class="contact address-street">
            <label for="address-street">California Street Address</label>
            <input id="address-street" type="text" name="address-street" placeholder="California Street Address" required="true">
        </div><!--

        --><div class="contact address-city">
            <label for="address-city">City</label>
            <input id="address-city" type="text" name="address-city" placeholder="City" required="true">
        </div><!--

        --><div class="contact address-state">
            <label for="address-state">State</label>
            <input id="address-state" type="text" value="CA" required="true">
        </div><!--

        --><div class="contact address-zipcode">
            <label for="address-zipcode">Zip Code</label>
            <input id="address-zipcode" type="text" name="address-zipcode" placeholder="Zip Code" required="true">
        </div><!--

        --><div class="contact email">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" placeholder="Email" required="true">
        </div><!--

        --><div class="contact phone">
            <label for="phone">Mobile Phone Number</label>
            <input id="phone" type="text" name="phone" placeholder="Mobile Phone Number" required="true">
        </div>

        <div class="consent consent-text">
            <input type="checkbox" id="consent-text" required="true">
            <label for="consent-text">I agree to receive text messages to my mobile device as part of this program.</label>
        </div>

        <div class="consent consent-agent">
            <input type="checkbox" id="consent-agent" required="true">
            <label for="consent-agent">I agree to have a Consumer Reports team member act as my authorized agent, to send data access requests on my behalf, and to share what happens with my requests with their team for the purpose of consumer protection policy strategy.</label>
        </div>

        <div class="consent consent-response">
            <input type="checkbox" id="consent-response" required="true">
            <label for="consent-response">I agree to have a Consumer Reports team member share how companies respond to my data requests, and what data formats and field types they use, with the general public.</label>
        </div>

        <div class="consent consent-email">
            <input type="checkbox" id="consent-email" required="true">
            <label for="consent-email">I agree to receive regular emails checking in with me about how the program is going, and covering program updates, news, and analysis about California data privacy.</label>
        </div>

        <div class="consent consent-policies">
            <input type="checkbox" id="consent-policies" required="true">
            <label for="consent-policies">I agree to the terms of Consumer Reports <a href="https://www.consumerreports.org/cro/customerservice/privacy-policy/highlights/index.htm"> Privacy Policy</a>, <a href="https://www.consumerreports.org/cro/2015/01/user-agreement/index.htm">User Agreement, </a><a href="https://www.consumerreports.org/cro/sms/sms-text-notification-privacy-policy.htm">SMS/Text Notification Terms</a> and <a href="https://www.consumerreports.org/cro/sms/sms-text-notification-privacy-policy.htm">SMS/Text Privacy Policy</a> </label>
        </div>

        <p>We appreciate your consent!</p>

        <div class="controls">
            <input id="volunteer" type="submit" value="Volunteer">
        </div>
    </form>
</div>
{{/success}}

{{>common-bottom}}
