{{>common-top}}

<div class="column">
	<h1>Verify your phone number</h1>
	<p>Please enter the 6-digit code we just sent you.</p>
	<form id="phone-verification-form" class="sign-up verify">
		<div class="contact code">
			<label for="code">Code</label>
			<input id="code" type="text" name="code" placeholder="Code">
		</div>
		<div class="controls">
			<input type="submit" value="Verify Code">
		</div>
	</form>
</div>
<script src="/static/phone-verification.js"></script>

{{>common-bottom}}
